<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}Base{% endblock %} </title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>

<body>
    {% block content %} {% endblock %}
</body>

</html>
<script>
    `{% block scripts %} {% endblock %}`
    function loadList(list) {
        $.ajax({
            "url": "https://raw.githubusercontent.com/nootovich/vista/master/data/" + list + "List.json",
            "type": "get",
            "content-type": "application/json",
            "success": function (response) {
                let db = JSON.parse(response)
                $.ajax({
                    "url": "",
                    "type": "post",
                    "enctype": "text/plain",
                    "data": {
                        "type": list,
                        "db": db
                    },
                    "success": function () {
                        document.location.pathname == "/" ? document.location.href = "/vista" : null;
                    }
                })
            }
        })
    }
</script>